<h1>Users</h1>
<% @users.each do |user| %>
<h2><%= user.full_name %></h2>
<%= link_to 'User Info', user_path(user)%>
<%= link_to 'Edit Info', edit_user_path(user)%>
<%= link_to 'Delete User', user, method: :delete%>
<% end %>



